

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'allotment/dist/style.css';

@import 'reactflow/dist/style.css';

html,body,#root{
    width:100%;
    height:100%;
}

.react-flow__connection-path, .react-flow__edge-path {
    stroke-width: 6;
    stroke: blueviolet;
}

.react-flow__node{
    cursor: default !important;
}

.node-drag-header{
    cursor: grab !important;
}

/* .react-flow__handle{
    position: relative;
} */